body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list-group-item.kan-nav {
    color: white;
    border: none;
    background-color: black;
}

.list-group {
    border-radius: 0px;
}

.list-group-item.active.kan-nav { 
    color: red;
    background-color: white;
    border: none;
}

.list-group-item.kan-nav a {
    color: white;
}

.list-group-item.active.kan-nav a {
    color: red;
}

.menu-link { 
    text-decoration: none;
    color: white;
}

.list-group-item.active.kan-nav .menu-link:hover {
    color: red;
}

.list-group-item.kan-nav .menu-link:hover{ 
    color: white;
}

.red-icon {
    color: red;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
}

.list-group-item.active.acc-nav-item {
    color: black;
    border: none;
    background-color: white;
    border-left: 2px solid black;
}

.list-group-item.acc-nav-item {
    color: red;
    border: none;
    background-color: white;
    padding: 0.5rem!important;
}

.list-group-item.active.acc-nav-item .acc-link {
    color: black;
}

.acc-link { 
    text-decoration: none;
    color: red;
}

.list-group-item.active.acc-nav-item .acc-link:hover {
    color: black;
}

.list-group-item.acc-nav-item .acc-link:hover{ 
    color: red;
    text-decoration: none;
}

.first-col {
    padding-left: 0px;
}

.no-left-margin {
    margin-left: 0px!important;
}