body {
    font-family: Verdana, Arial;
}

.list-group-item.kan-nav {
    color: white;
    border: none;
    background-color: black;
}

.list-group {
    border-radius: 0px;
}

.list-group-item.active.kan-nav { 
    color: red;
    background-color: white;
    border: none;
}

.list-group-item.kan-nav a {
    color: white;
}

.list-group-item.active.kan-nav a {
    color: red;
}

.kan-nav .menu-link { 
    text-decoration: none;
    color: white;
}

.list-group-item.active.kan-nav .menu-link:hover {
    color: red;
}

.list-group-item.kan-nav .menu-link:hover{ 
    color: white;
}

.red-icon {
    color: red;
}

/* Mini kan nav bar */

.list-group-item.mini-nav {
    color: red;
    border: none;
    background-color: white;
}

.mini-nav .menu-link { 
    text-decoration: none;
    color: red;
}

.list-group-item.mini-nav .menu-link:hover{ 
    color: red;
}

.close-link {
    color: #a2a7ae;
    text-decoration: none;
}

.close-link:hover {
    color: #a2a7ae;
}
